body{
  background-color: #E7EBF0;
}
.app-wrapper{
  margin: 0 auto;
  width: 80%;
  
 
}
.header{
  width: 100%;

}
.content{
  display: flex;
  width: 100%;
  background-color: white;

}
.app-wrapper-contnent{
  background-color: white;

}
.active{
  color:#6490b1;
}
