body{
  background-color: #E7EBF0;
}
.app-wrapper{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
"h h h"
"n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-contnent{
  grid-area: c;
  background-color: white;
  height: 90vh;
}

